 body{
            background-color: rgb(0, 149, 255);
            text-align: center;
            justify-content: center;
            position: relative;
        }
        h1{
           
            font-size: 22px;
            position:absolute;
            float: left;
            padding-left:314px ;
            padding-top: 159px;
        }
        form{
            justify-content: center;
            margin-top: 7vw;
            margin-left: 35vw;
            background-color: rgb(255, 255, 255);
            height:600px;
            width: 700px;
            box-shadow: 0px 0px 100px ;  
            border-radius: 9px; 
        }
        
         img{
            width: 200px;
            border-radius: 700px;
        }
        h2{
            font-size: 26px;
            color: blue;
            text-shadow: 2px 5px 5px rgb(68, 105, 117);
        }
        p{
            font-style: italic;
            font-size: 19px;
        }
        input{
            width: 350px;
            height: 40px;
            padding-left: 18px;
            border-radius: 10px;
            margin-top:35px ;
        }
        .reset{
            margin-top: 50px;
            margin-left: 250px;
            background-color: blue;
            color: aliceblue;
            width: 230px;
            height: 43px;
            
        }
        .return{
            color: white;
            width: 150px;
            text-align: center;
            margin-left:-20px;
            margin-top:20px ;
            background-color: blue;
            padding: 10px;
            padding-left:15px ;
            padding-right:15px ;
            text-decoration: none;
            border-radius: 10px;
            box-shadow: 3px 5px 7px rgb(9, 18, 131);
        }
        @media (min-width:768px) and (max-width: 1023px) {
            form {
              margin-left: 150px;  
            
              align-items: center;
            }

        }
        @media (max-width:768px) {
            form {
              margin-left: 18px;  
            }
            input{
                width: 330px;
                height: 35px;
                padding-left: 13px;
                border-radius: 7px;
            }        
        }