 body{
            background-color: rgb(0, 149, 255);
          text-align: center;
          justify-content: center;
          position: relative;
        }
        img{
            width: 200px;
        }
        input{
            width: 350px;
            height: 40px;
            padding-left: 18px;
            border-radius: 10px;
            margin-top:20px ;
        }
        form{
            justify-content: center;
            margin-top: 3vw;
            margin-left: 33vw;
            background-color: rgb(255, 255, 255);
            height: 800px;
            width: 700px;
            box-shadow: 0px 0px 50px ;  
            border-radius: 7px; 
        }
        input[type="submit"]{
            margin-top: 29px;
            background-color: blue;
            color: aliceblue;
            width: 370px;
            height: 50px;
            box-shadow: 3px 5px 7px rgb(9, 18, 131);
        }
        a{
            text-decoration: none;
        }
        h1{
            font-size: 22px;
            position:absolute;
            float: left;
            padding-left:315px ;
            padding-top: 159px;
        }
        h2{
            color: blue;
        }
        
        @font-face {
            font-family:GenchaRegular ;
            src: url(/texte/gencha-font/GenchaRegular-pgl3K.otf);
        }
        p{
            font-family: GenchaRegular;
            font-size: 20px;
            margin-top: -7px;
        }
        @media (min-width:768px) and (max-width: 1023px) {
            form {
              margin-left: 150px;  
            
              align-items: center;
            }

        }
        @media (max-width:768px) {
            form {
              margin-left: 18px;  
            }
            input{
                width: 330px;
                height: 35px;
                padding-left: 13px;
                border-radius: 7px;
                
        }

        }